{#
/**
 * @file
 * Default theme implementation for the TMGMT needs review notification.
 *
 * @ingroup themeable
 */
#}
<div>
    <p>Hi [identity:label],</p>
    <p>A new sensor result is available: <a href="[monitoring_sensor_result:url]">[monitoring_sensor_result:label]</a></p>
</div>
